# Stop C headers and vendored libraries from counting as C++
*.a linguist-generated

# Ignore the converted image directories
opere/** linguist-vendored
operewebp/** linguist-vendored

# Force your actual primary files to be counted correctly
*.html linguist-language=HTML
*.css linguist-language=CSS
*.h linguist-language=C
*.c linguist-language=C
