body {
  margin: 0;
  padding: 0;
  background-color: lightgray;
}

img {
  display: block;
  margin: 40px auto 40px auto;
  max-width: 80vw;
  /* max width is viewport width */
  max-height: 80vh;
  /* max height is 80% of viewport height */
  width: auto;
  height: auto;
  object-fit: contain;
  /* keeps aspect ratio */
  border-radius: 8px;
  /* rounded corners */
}

